/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  /* colors */
  --black-o: #000000;
  --black: #141414;
  --darkgray: #707070;
  --gray: #909090;
  --lightgray: #D0D0D0;
  --white-o: #ffffff;
  --white: #fafafa;
  --red: #E00006;
  --darkred: #b51200;
  --golden: #EFB810;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/*header*/

header {
  background: var(--black);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px 0px 30px;
  /*Para fixear en el top de la página*/
  position: fixed;
  top: 0;
  z-index: 2; /* Para que se vea siempre por encima */
}

.logo {
  height: 40%;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}
.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--white);
  font-size: 16px;
  font-weight: 900;
}

.navbar-list li:first-child > a {
  color: var(--red);
}

.search-icon {
  font-weight: 600;
  border-radius: 10px;
  height: 30px;
  padding: 5px 10px;
  margin-right: 1rem;
  color: var(--white);
  cursor: pointer;
}



main {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--black);
  width: 100%;
}

.hero {
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  height: 300px;
  border-radius: 20px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 50px; 
}

.hero-info h2 {
  font-size: 40px;
  font-weight: 900;
}

.hero-info h2 span {
  color: var(--darkred)
}

.hero-info p span {
  color: var(--darkred);
  font-weight: 600;
}

.hero-buttons{
  margin-top: 10px;
}

.hero-buttons a{
  font-weight: 900;
  color: var(--darkred);
  width: 120px;
  padding: 12px;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  border: 3px solid var(--darkred);

}

.hero-buttons a:first-child{
  background-color: var(--darkred);
  color: var(--white);
  margin-right: 10px;
}

.gdi-info {
  display: flex;
  flex-direction: column;
  padding: 60px 150px;
  background-color: var(--darkred);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.gdi-info img {
  height: 50px;
}
.gdi-info h2 {
  color: var(--white);
  font-weight: 900;
}
.gdi-info p{
  color: var(--white);
}
